@model TestProjet.Models.Produit

@{
    ViewBag.Title = "Details";
}
<h2>Details - @Html.DisplayFor(model => model.nom_produit)</h2>
<div class="row">
    <div id="image_produits_detail" class=".col-md-4">
        <img src="@Html.DisplayFor(model => model.image)" alt="@Html.DisplayFor(model => model.nom_produit)" class="img-responsive" />
    </div>
   

    <dl class="dl-horizontal .col-md-8">
        <dt>
            Nom : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_produit)
        </dd>

        <dt>
            Prix :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix)
        </dd>

        <dt>
            Description :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            En stock :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

    </dl>
</div>
<div class="addPane addPane--buy">
    @Html.ActionLink("Ajouter au panier", "addPane", new { id = Model.id })
</div>
<p>
<!--    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |-->
    @Html.ActionLink("retour", "Liste", new { id = Model.id_categorie })
</p>
